:root{
    --ff-heading: "Epilogue", sans-serif;

    --hue: 250;
    --bg-primary: hsl(var(--hue), 22%, 20%);
    --fc-primary: hsl(var(--hue),0%, 100%);
    --fc-secondary: hsl(var(--hue), 50%, 80%);
    --fc-secondary-dark: hsl(var(--hue), 100%, 11%, 1);


    font-size: 62.5%;
    --fs-body: 1.6rem;
    --fs-heading: 4.0rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: var(--fs-body);
    font-family: var(--ff-heading);
    background-color: var(--bg-primary);
    color: var(--fc-primary);
}

main{
    display: grid;
    gap: 3.2rem;
}

.page{
    max-width: 33rem;
    margin: 0 auto;
}

img{
    width: 100%;
    height: auto;
}

header {
    margin: 10rem 0 8rem;
    font-family: var(--ff-heading);
    text-align: center;
}

header p{
    color: var(--fc-secondary);
    text-transform: uppercase;

    line-height: 3.2rem;
    letter-spacing: 3px;
    margin-bottom: 1.7rem;
    font-weight: 400;
}

header h1{
    font-weight: 800;
    font-size: var(--fs-heading);
    line-height: 4.8rem;
}

.card{
    position: relative;
    font-family: var(--ff-heading);
}

.card:last-child{
    margin-bottom: 3.2rem;
}

.card img{
    height: 41.6rem;
    object-fit: cover;
    border-radius: 6px;

    transition: all 200ms;
}

.card img:hover{
    transform: scale(1.05);
    opacity: 0.4 ;
}

.card h2{
    position: absolute;
    bottom: 5.2rem;
    left: 2.8rem;

    font-size: var(--fs-heading);
    font-weight: 800;

    display: flex;
    flex-direction: column;
    gap: 2.8rem;
}

.card h2 span{
    display: inline-flex;
    align-items: center;
    border-radius: 2rem;
    background-color: var(--fc-primary);
    font-size: var(--fs-body);
    font-weight: 400;
    color: var(--fc-secondary-dark);
    padding: 0 1.6rem;
    height: 3.8rem;
    width: fit-content;
}

header{
    animation: topdown 700ms;
}

header h1{
    animation: topdownH1 700ms 200ms backwards;
}

.card{
    animation: downtop 1200ms;
}

.card:first-child{
    animation: downtopD 1200ms;
}

.card:last-child{
    animation: downtopD 1200ms;
}

@keyframes topdown{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes topdownH1{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}



@keyframes downtop{
    0%{
        opacity: 0;
        transform: translateX(30px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes downtopD{
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}